.DS_Store
examples/.DS_Store
helsinki thermal/.DS_Store
helsinki thermal/1/.DS_Store
helsinki thermal/1/Kontrolli1/.DS_Store
helsinki thermal/2/.DS_Store
helsinki thermal/6/.DS_Store
helsinki thermal/9/.DS_Store
*.dll
FlirMovieReaderMex.mexw64
